@using EntityLayer.Concreate
@model List<Contact>
@{
    ViewBag.Title = "ContactDeletedPage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <a href="~/Admin/Contact" class="btn btn-primary btn-block mb-3">Return To UserMessage</a>
                @Html.Action("LeftBarArea", "Admin")
            </div>
            <div class="col-md-9">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Trash Messages</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" placeholder="Search Name">
                                <div class="input-group-append">
                                    <div class="btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped">
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <div class="icheck-primary">
                                                    <input type="checkbox" value="" id="check1">
                                                    <label for="check1"></label>
                                                </div>
                                            </td>
                                            <td class="mailbox-star"><a href="#"><i class="fas fa-star text-warning"></i></a></td>
                                            <td class="mailbox-name">@item.UserName</td>
                                            <td class="mailbox-subject">
                                                <b>@item.Subject</b> - @item.Message.Substring(0, 30) ...
                                            </td>
                                            <td class="mailbox-attachment"></td>
                                            <td class="mailbox-read-time">@item.ContactDate.ToString("dd MMM. yyyy")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>


