
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

@Html.Partial("/Views/HomePagePartial/HeadPartial.cshtml")

<body>

    @Html.Partial("/Views/HomePagePartial/NavbarPartial.cshtml")


    @Html.Partial("/Views/HomePagePartial/GalleryPartial.cshtml")


    @Html.Partial("/Views/HomePagePartial/FooterPartial.cshtml")


    @Html.Partial("/Views/HomePagePartial/AdminLoginPartial.cshtml")


    @Html.Partial("/Views/HomePagePartial/WriterLoginPartial.cshtml")


    @Html.Partial("/Views/HomePagePartial/ScriptPartial.cshtml")


</body>
</html>
